<header>
<nav class="container" data-th-fragment="frag-entete">
<img th:src="@{/images/logoFilmotheque.png}" alt="" />
<p >Filmothèque </p>
	<ul>
		
		<li><a href="/films">Films</a>	</li>
		<li sec:authorize="hasRole('ROLE_ADMIN')" ><a href="/creation-film">Création Films</a>	</li>
		<li sec:authorize="isAuthenticated()" ><a href="/contexte">Contexte</a>	</li>
		<li sec:authorize="!isAuthenticated()" ><a href="/login">Connexion</a></li>
		<li sec:authorize="isAuthenticated()"><a href="/logout">Déconnexion</a></li>
	</ul>
</nav> 
</header>