<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/general.css}" />
<link rel="stylesheet" th:href="@{/css/demo-form.css}" />
<link rel="stylesheet" th:href="@{/css/demo-table.css}" />
<link rel="stylesheet" th:href="@{/css/demo-error.css}" />
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<div data-th-replace="~{/fragments/fragment-entete :: frag-entete}"></div>







	<form th:action="@{/creation-film}" method="POST"
		th:object="${filmCreer}">
		<div th:replace="~{/fragments/errors/fragment-errors :: frag-errors}"></div>
		<h1>Création d'un Film [En cours de construction]</h1>
		<ul>
			<li><label for="inputGenre">Genre : </label> <select
				id="inputGenre" th:field="*{genre}" multiple="multiple">
					<option  th:each="item : ${listeGenre}"
						th:value="${item.id}" th:text="${item.titre}"></option>
			</select>
			<div th:replace="~{/fragments/errors/fragment-error :: frag-error('genre')}"></div>
			</li>
			<li><label for="inputAnnee">Année:</label> <input type="number"	
				th:field="*{annee}"  />
				<div th:replace="~{/fragments/errors/fragment-error :: frag-error('annee')}"></div>
				
				</li> <!-- th:field génère 2 attributs value et name -->
			<li><label for="inputTitre">Titre:</label> <input type="text"
				th:field="*{titre}" />
				<div th:replace="~{/fragments/errors/fragment-error :: frag-error('titre')}"></div>
				</li>
			<li><label for="selectRéalisateur">Réalisateur:</label> <select
				 th:field="*{realisateur}" multiple="multiple">

					<option id="selectRéalisateur" th:each="item : ${listeActeurs}"
						th:value="${item.id}" th:text="${item.nom + ' ' + item.prenom}"></option>

			</select>
			<div th:replace="~{/fragments/errors/fragment-error :: frag-error('realisateur')}"></div>
			
			
			</li>
			<li><label for="inputDuree">Durée:</label> <input type="number"
				min="1" th:field="*{duree}"/>
				<div th:replace="~{/fragments/errors/fragment-error :: frag-error('duree')}"></div>
				</li>
			<li><label for="inputActeurs">Acteurs:</label> <select name=""
				id="" multiple="multiple" th:field="*{acteurs}">
					<option value="" th:each="item : ${listeActeurs}"
						th:value="${item.id}" th:text="${item.nom + ' ' + item.prenom}"></option>
			</select></li>
			<li><label for="inputSynopsis">Synopsis:</label> <textarea
					name="" id="" cols="30" rows="10" th:field="*{synopsis}"></textarea>
					<div th:replace="~{/fragments/errors/fragment-error :: frag-error('synopsis')}"></div>
			</li>
		</ul>
		<button type="submit">enregistrer</button>

	</form>


	<div data-th-replace="/fragments/fragment-piedpage :: frag-piedpage"></div>

</body>
</html>