<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/general.css}" />
<link rel="stylesheet" th:href="@{/css/demo-form.css}" />
<link rel="stylesheet" th:href="@{/css/demo-table.css}" />
<link rel="stylesheet" th:href="@{/css/tp-contexte.css}" />
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div data-th-replace="~{/fragments/fragment-entete :: frag-entete}"></div>



	<form th:action="@{/creation-avis}" method="POST" th:object="${avis}">
	
	

	<input type="hidden" th:name="id" th:value="${id}" />
	
	<li><label for="" th:field="*{id}"></label></li>
	<li><label for="">Note : </label> <input type="number" th:field="*{note}"/></li>
	
	<li><label for="">Commentaire</label> <textarea name="" id="" cols="30" rows="10" th:field="*{commentaire}"></textarea> </li>
	<button type="submit">Donner mon avis</button>
	
	</form>
	
	<div data-th-replace="/fragments/fragment-piedpage :: frag-piedpage"></div>
</body>
</html>