<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/general.css}" />
<link rel="stylesheet" th:href="@{/css/demo-form.css}" />
<link rel="stylesheet" th:href="@{/css/demo-table.css}" />
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<div data-th-replace="~{/fragments/fragment-entete :: frag-entete}"></div>







	<form th:action="@{/creation-film}" method="POST"
		th:object="${filmCreer}">
		<h1>Création d'un Film [En cours de construction]</h1>
		<ul>
			<li><label for="inputGenre">Genre : </label> <select
				id="inputGenre" th:field="*{genre}">
					<option  th:each="item : ${listeGenre}"
						th:value="${item.titre}" th:text="${item.titre}"></option>
			</select></li>
			<li><label for="inputAnnee">Année:</label> <input type="number"
				th:field="*{annee}" required min="1895" max="2100" /></li> <!-- th:field génère 2 attributs value et name -->
			<li><label for="inputTitre">Titre:</label> <input type="text"
				th:field="*{titre}" /></li>
			<li><label for="selectRéalisateur">Réalisateur:</label> <select
				 th:field="*{realisateur}">

					<option id="selectRéalisateur" th:each="item : ${listeActeurs}"
						th:value="${item.id}" th:text="${item.nom + ' ' + item.prenom}"></option>

			</select></li>
			<li><label for="inputDuree">Durée:</label> <input type="number"
				min="1" th:field="*{duree}" required/></li>
			<li><label for="inputActeurs">Acteurs:</label> <select name=""
				id="" multiple="multiple" th:field="*{acteurs}">
					<option value="" th:each="item : ${listeActeurs}"
						th:value="${item.id}" th:text="${item.nom + ' ' + item.prenom}"></option>
			</select></li>
			<li><label for="inputSynopsis">Synopsis:</label> <textarea
					name="" id="" cols="30" rows="10" th:field="*{synopsis}"></textarea>
			</li>
		</ul>
		<button type="submit">enregistrer</button>

	</form>


	<div data-th-replace="/fragments/fragment-piedpage :: frag-piedpage"></div>

</body>
</html>